@(infoForm: Form[EmployeeInfo], citizenships: Seq[(String, String)], parts: List[Part])

@import b3.vertical.fieldConstructor

@main("EPF List") {
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Everything about EPF</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h2>EPF Checker</h2>
        <h3>Employee Information</h3>
        @b3.form(routes.Epf.check) {
          @b3.select(infoForm("citizenship"), citizenships,
              '_label -> "Citizenship")
          @b3.checkbox(infoForm("contributeBefore1August1998"), '_label -> None,
              '_text -> "Contribute Before 1 August 1998")
          @b3.date(infoForm("dateOfBirth"), '_label -> "Date Of Birth")
          @b3.text(infoForm("wages"), '_label -> "Wages")
          @b3.submit('class -> "btn btn-default"){ Check }
        }
      </div>

      <div class="col-md-8">
        <h2>EPF Parts</h2>
        @for(p <- parts) {
          <h1><a href="@routes.Epf.part(p.name)">@p.name</a></h1>
          @Html(p.description)
        }
      </div>
    </div>
  </div>
}
