@(wages: Double, part: Part, rate: Rate)

@main(s"Rate for $wages") {
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <dl>
          <dt>Wages</dt>
          <dd>@(f"$wages%.2f")</dd>
          <dt>Part</dt>
          <dd>@part.name</dd>
          <dt>Wages From</dt>
          <dd>@(f"${rate.wagesFrom}%.2f")</dd>
          <dt>Wages To</dt>
          <dd>@(f"${rate.wagesTo}%.2f")</dd>
          <dt>Contribution by Employer</dt>
          <dd>@(f"${rate.contributionEmployer.getOrElse(0.0)}%.2f")</dd>
          <dt>Contribution by Employee</dt>
          <dd>@(f"${rate.contributionEmployee.getOrElse(0.0)}%.2f")</dd>
        </dl>
      </div>
    </div>
  </div>
}
